@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5ff;
    color: #765;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1 {
    color: rgb(250, 67, 107);
    font-size: 6rem;
    text-align: center;
    opacity: 0.4;
}

form {
    max-width: 100%;
    width: 400px;
}

.input {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder {
    color: #b5b5b5;
}

.todos {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
    padding: 1rem 2rem;
    font-size: 1rem;
}

.completed {
    text-decoration: line-through;
    color: #0c0cc2;
}

small {
    margin-top: 3rem;
    color: #b5b5b5;
    text-align: center;
}